
    
    <div class="card mb-4 mb-lg-0 border-light shadow-sm">
      <img style="max-width:400px;" *ngIf="book.photo" [src]="book.photo">
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ book.author }}</p>
        <p class="card-text">{{ book.synopsis }}</p>
        <button class="btn btn-primary" (click)="onBack()">Retour</button>
      </div>

  </div>