
    <div class="col-xs-12">
      <h2>Vos livres</h2>
    </div>

  <div class="col-12 col-lg-4">
    <div class="card mb-4 mb-lg-0 border-light shadow-sm">
      <div class="list-group " >
        <button
          class="list-group-item"
          *ngFor="let book of books; let i = index"
          (click)="onViewBook(i)">

      <img style="max-width:250px;" *ngIf="book.photo" [src]="book.photo">

      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ book.author }}</p>
        
     
      <button class="btn btn-danger pull-right" (click)="onDeleteBook(book)">
        Supprimer
      </button>
       </div>
    </button>
    </div>
  </div>

  <div class="row" class="container-fluid">
    <br>
      <button class="btn btn-primary" (click)="onNewBook()">Nouveau livre</button>
    
  </div>
